:root{
    --black: #0D0F14;
    --white: #F7F7F7;
    --red: #9E4040;
    --darkred: #7C0000;
}

.content .container{
    min-height: 100vh;
    padding: 5rem 0;
    background-color: var(--red);
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero{
    display: none;
}

.msuk{
    display: flex;
    flex-direction: column;
}

form > div{
    margin: 10px;
}

input[type="text"], input[type="number"]{
    width: 91%;
    padding: 5px 0;
    margin: 3px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input[type="submit"],input[type="button"],input[type="reset"],td a{
    background: wheat;
    padding: 6px 12px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 30px;
    border: none;
    margin: 15px 0 10px;
    outline: none;
}
td a{
    display: flex;
    text-align: center;
    flex-direction: column;
}
input[type="submit"]:hover{
    background: #f3f3f3;
}

table{
    border-collapse: collapse;
}

th{
    text-align: center;
}

td, th{
    border: 1px solid #ddd;
    padding: 8px 15px;
}

.list,.list2{
    width: 60rem;
    border: wheat;
    display: none;
}

.current{
    display: table;
}

.blank-space{
    height: 10vh;
}

.pagination{
    margin-top: 8rem;
    display: flex; 
    align-items: center;
}

.pagination>*{
    margin: 0 8px;
}

.menu-item span{
    margin-left: 40px;
}
.dropdown:hover .dropdown-menu{
    display: flex;
}
.dropdown-menu{
    background-color: #737373;
    position: absolute;
    display: none;
    flex-direction: column;
    top: 100px;
    right: 8rem;
}
.dropdown-item{
    min-width: 247px;
    min-height: 60px;
    font-size: 24px;
    color: #F7F7F7;
    display: flex;
    align-items: center;
    padding-left: 20px;
    transition: 0.3s ease-in-out;
}
.dropdown-item:hover{
    background-color: black;
}

.gudang{
    display: none;
}

.gudang h1{
    padding-bottom: 5rem;
}

.gudang.active{
    display: block;
}

#addButton{
    position: fixed;
    right: 8rem;
    bottom: 30px;
    padding: 1rem 2rem;
}

#addButton:hover{
    opacity: 60%;
    transition: 0.3s ease-in-out opacity;
}